body {
  background-color: rgb(210, 210, 210);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#buttons {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}
